# OS/editor
.DS_Store
.vscode/

# Secrets
.env
.env.*

# Node (if you use npm/yarn)
node_modules/
npm-debug.log*
yarn-error.log*
pnpm-debug.log*

# Builds
dist/
build/
.next/
out/
coverage/

# Cache
.cache/
.parcel-cache/